<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login">
        <form action="/login" method="POST">
        <h1>Medical Center Login Page</h1>
            <input type="text" name="username" placeholder="Username" autofocus>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">    
        </form>
        <div class="">
            <h3>Authorized users only! If you don't have your credentials please call support at 03-54244545 or email support@medicalcenter.org</h3>
        </div>
    </div>
</body>
</html>